<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.jiayu.jiayuid"
    android:versionCode="23"
    android:versionName="0.83" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.jiayu.jiayuid.Inicio"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.jiayu.jiayuid.BrowserActivity"
            android:label="@string/title_activity_browser" >
        </activity>
        <activity
            android:name="es.jiayu.jiayuid.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="es.jiayu.jiayuid.VideoActivity"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name="es.jiayu.jiayuid.App"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>