<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.jiayu.jiayuid"
          android:versionCode="38"
          android:versionName="0.98">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="10"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REBOOT"/>-->

    <uses-feature android:name="android.hardware.camera"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="es.jiayu.jiayuid.Inicio"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="es.jiayu.jiayuid.BrowserActivity"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name="es.jiayu.jiayuid.AboutActivity"
                android:label="@string/title_activity_about"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name="es.jiayu.jiayuid.App"
                android:label="@string/app_name"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name="es.jiayu.jiayuid.ROMTools"
                android:label="@string/title_activity_romtool" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.ImeiScreen" android:label="@string/title_activity_imeiscreen" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.RomScreen" android:label="@string/title_activity_romscreen" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.RecoveryScreen" android:label="@string/title_activity_recoveryscreen" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.ConfigActivity" android:label="@string/title_activity_configscreen" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.BootAnimation" android:label="@string/title_activity_bootanimation" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.BackupRestore" android:label="@string/title_activity_backup" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.SelectNameBck" android:label="@string/title_activity_backup" android:configChanges="orientation|screenSize"/>
        <activity android:name="es.jiayu.jiayuid.ToolsAndroid" android:label="@string/title_activity_tools" android:configChanges="orientation|screenSize"/>

        <receiver
                android:name="es.jiayu.jiayuid.DownloadReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <!--<receiver android:name="es.jiayu.jiayuid.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="es.jiayu.jiayuid.NotifyService"/>
        <service android:name="es.jiayu.jiayuid.NotifyNewsService"/>-->
    </application>

</manifest>