<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.jiayu.jiayuid"
          android:versionCode="58"
          android:versionName="1.18">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="10"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"

            android:hardwareAccelerated="true">
        <activity
                android:name="es.jiayu.jiayuid.Inicio"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="es.jiayu.jiayuid.BrowserActivity"
                android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
                android:name="es.jiayu.jiayuid.AboutActivity"
                android:label="@string/title_activity_about"
            android:launchMode="singleTask">

        </activity>
        <activity
                android:name="es.jiayu.jiayuid.App"
                android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="es.jiayu.jiayuid.ImeiScreen" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.RomScreen" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.RecoveryScreen" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.ConfigActivity" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.BootAnimation" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.BackupRestore" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SelectNameBck" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.ToolsAndroid" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SendInformeActivity" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.NoInternet" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SecondScreen" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SCApkInstall" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SCCopiaSeg" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SCHerramientasRom" android:launchMode="singleTask"/>
        <activity android:name="es.jiayu.jiayuid.SCHerramientasUsu" android:launchMode="singleTask"/>

        <receiver
                android:name="es.jiayu.jiayuid.DownloadReceiver"
                android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <!--    <receiver android:name="es.jiayu.jiayuid.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>-->
        <service android:name="es.jiayu.jiayuid.NotifyService" android:launchMode="singleTask"/>
        <service android:name="es.jiayu.jiayuid.NotifyNewsService" android:launchMode="singleTask"/>
    </application>

</manifest>